@import url("https://p.typekit.net/p.css?s=1&k=qop0uzw&ht=tk&f=48819.48820&a=48290115&app=typekit&e=css");
@import url("https://p.typekit.net/p.css?s=1&k=dgc6plu&ht=tk&f=2007.2009&a=48290115&app=typekit&e=css");

@font-face {
	font-family:"indivisible";
	src:url("https://use.typekit.net/af/131319/00000000000000007735eebf/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),
	url("https://use.typekit.net/af/131319/00000000000000007735eebf/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),
	url("https://use.typekit.net/af/131319/00000000000000007735eebf/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:900;
	font-stretch:normal
}
@font-face {
	font-family:"indivisible";
	src:url("https://use.typekit.net/af/4fb333/00000000000000007735eec1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),
	url("https://use.typekit.net/af/4fb333/00000000000000007735eec1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),
	url("https://use.typekit.net/af/4fb333/00000000000000007735eec1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
	font-display:auto;
	font-style:italic;
	font-weight:900;
	font-stretch:normal
}
@font-face {
	font-family:"museo-sans";
	src:url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),
	url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),
	url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:500;
	font-stretch:normal
}
@font-face {
	font-family:"museo-sans";
	src:url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
	url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),
	url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-display:auto;
	font-style:normal;
	font-weight:700;
	font-stretch:normal
}

:root {
	--font-body: 'museo-sans', sans-serif;
	--font-heading: 'indivisible', sans-serif;
	--color-accent-black: #1e281e;
	--color-accent-blue: #0064c8;
	--color-accent-red: #e62d1e;
	--color-accent-pink: #ff3d9e;
	--color-yellow: #ffd200;
	--color-blue: #004081;
	--color-white: #fff;
	--border-radius: 15px;

	--card-width: 21rem;
	--card-padding: 0.5rem;

	--icon-size: 10rem;
	--icon-button-size: 64px;

	--bluesky: url("./assets/badges/bluesky.svg");
	--curseforge: url("./assets/badges/curseforge.svg");
	--discord: url("./assets/badges/discord.svg");
	--github: url("./assets/badges/github.svg");
	--itch: url("./assets/badges/itch.svg");
	--kofi: url("./assets/badges/kofi.svg");
	--modrinth: url("./assets/badges/modrinth.svg");
	--steam: url("./assets/badges/steam.svg");
	--twitch: url("./assets/badges/twitch.svg");
	--youtube: url("./assets/badges/youtube.svg");
}

html, body {
	color:var(--color-accent-black);
	font-family: var(--font-body);
	font-weight: 500;

	scroll-behavior: smooth;
    margin: 0;
    line-height: 1.15;
}

.root {
	position: relative;
}

.home_container .navbar a, h1, h2, .title {
	font-family: var(--font-heading);
	color: inherit;
	font-style: normal;
	font-weight: 900;
	font-size: 1.375rem;
	line-height: 1.05;
}

.dots-red {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	overflow: hidden;

	background-image: url("./assets/dots-red.png");
}

.dots-white {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	overflow: hidden;

	background-image: url("./assets/dots-white.png");
}

.patches {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: hidden;

	background-image: url("./assets/patches-blue.png");
}

.diamonds {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: hidden;

	background-image: url("./assets/diamonds-blue.png");
}

.border {
	border: solid 4px var(--color-accent-black);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-x, 2px) var(--shadow-y, 4px) 0 2px var(--color-accent-black);
}

.border-white {
	border: solid 4px var(--color-white);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-x, 2px) var(--shadow-y, 4px) 0 2px var(--color-white);
}

.color_blue {
	color: var(--color-blue);
}

#home {
	position: relative;
	overflow: hidden;
}

.home_container {
	border-radius: 80px 20px;
	position: relative;
	z-index: 2;

	margin: 7em auto 14em;
	padding: 1em;
	text-align: center;
	background-color: var(--color-yellow);
	max-width: 900px;
	overflow: hidden;
}

.home_container .navbar {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	row-gap: 0.5em;
	flex-wrap: wrap;
	margin-top: 1em;
	width: auto;
	justify-content: center;
}

.home_container .wave-card {
	z-index: -1;
	bottom: -1px;
	width: 100%;
}

.home_container:hover .wave-card, .card:hover .wave-card {
	animation-play-state: running;
}

.card .wave-card {
	margin-top: -3rem;
}

.wave-card {
	animation:wave-card_slide 3s -0.37968751487497865s linear infinite paused;
	display:block;
	height:300px;
	left: 0;
	position:absolute;
	will-change:left
}

@keyframes wave-card_slide {
	to {
		left:-800px
	}
}

.wave-card div {
	background-color: var(--color-white);
	height: 100% !important;
	width: 3200px;
}

.wave-card svg {
	display: block;
	width: 3200px;
	height: 120px;
	background: url("./assets/wave-card.svg");
	background-size: cover;
}

.avatar {
    height: 256px;
    width: auto;
	border-radius: var(--border-radius);

	background-image: url("./assets/patches-white.png");
}

.wave {
	bottom:calc(100% - 6px);
	z-index: 2;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%
}

.wave svg {
	fill: var(--color);
}

.wave_fade {
	padding-top: 60px;
}

.wave_fade::before {
	height: 200px;

	background-image: linear-gradient(180deg, var(--color) 0, rgba(0, 0, 0, 0) 100%);
	content: "";
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.card-grid-container {
	position: relative;
	z-index: 1;
	padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.card-grid-container .title {
	color: var(--text-color);
	text-align: center;
	font-size: 3.625rem;
	z-index: 1;
}

.card-grid {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
	padding-inline: clamp(2rem,calc((100dvw - 1100px)/2),100vw);
	row-gap: 4rem;
	justify-content: center;
	justify-items: center;
}

.card-grid .card {
	z-index: 3;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: var(--border-radius);
	background-color: var(--color-yellow);
	aspect-ratio: 63 / 100;
	width: var(--card-width);
	align-items: center;
	overflow: hidden;
}

.card-grid .card .card-icon {
	margin-top: 1rem;
	background-size: cover;
	width: var(--icon-size);
	height: var(--icon-size);
	background-image: url("./assets/patches-white.png");
	overflow: hidden;
	z-index: 5;
}

.card-icon::after {
	content: "";

	display: block;
	background-size: cover;
	width: var(--icon-size);
	height: var(--icon-size);
	background-image: var(--logo);
}

.card .card-title {
	display: inline-grid;
	text-align: center;
}

.card h1 {
	margin: 0;
}

.card-title h1 {
	display: inline-block;
	justify-self: center;
	padding-inline: 32px;
	padding-block: 8px;
	border-radius: 2em;
	color: var(--color-accent-black);
	background-color: var(--color-white);
	font-family: var(--font-heading);
	font-weight: 900;
	z-index: 1;
}

.card-grid .card .card-info {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--card-padding);
	flex: 1 1 0;
	z-index: 1;
	max-width: calc(var(--card-width) - var(--card-padding));
}

.card-grid .card .card-info .card-desc {
	padding: var(--card-padding);
	margin-top: 1rem;
	font-size: 1.25rem;
	z-index: inherit;
}

.card-grid .card .card-info .links {
	justify-content: center;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	margin-top: auto;
}

.star-icon {
	width: 0.681em;
	height: 0.681em;
	margin-left: 10px;
	margin-right: 10px;
	/*:3*/

	background: url("./assets/star-icon.svg");
	background-size: cover;
}

.button {
	position: relative;
	overflow: hidden;
	text-decoration: none;
	align-items: center;
	padding: 0.3em;
	display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
	height: 30px;
	transition: transform .1s ease-in-out;
	transition-property: transform, box-shadow;
	width: fit-content;
	border-radius: var(--border-radius);
	color: var(--color-white) !important;
	background-color: var(--color-accent-pink);
}

@keyframes button_twinkle {
	0%,
	to {
		transform:scale(1)
	}
	25% {
		transform:scale(1.2)
	}
	75% {
		transform:scale(.8)
	}
}
.button:hover svg {
	animation:button_twinkle 1s ease-in-out infinite;
}

.button:hover svg:last-child {
	animation-delay: -0.5s;
}

.button:hover {
	background-color: #ac2468;
}

.icon-button {
	padding: 0 !important;
	height: var(--icon-button-size) !important;
	width: var(--icon-button-size) !important;
	background-size: cover;
	background-image: var(--logo);
	z-index: 2;
}

.card-grid .card .card-info .links a p, .home_container .navbar a p {
	z-index: 2;
}

.card-grid .card .card-info .links a:hover, .home_container .navbar a:hover {
	--shadow-x: 4px;
	--shadow-y: 6px;
	transform: translate(-2px, -2px);
}

.card-grid .card .card-info .links a:active, .home_container .navbar a:active {
	--shadow-x: 1px;
	--shadow-y: 1px;
	transform: translate(2px, 4px);
}

.footer {
	position: relative;
	z-index: 1;
	padding-bottom: 4em;
	display: flex;
	flex-direction: column;
	/*row-gap: 2em;*/
}

.footer p {
	font-weight: 300;
	font-size: 0.75rem;
	text-align: center;
	z-index: 1;
}