@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');

:root {
	--font-body: 'Museo Sans Rounded', sans-serif;
	--font-heading: 'lato', sans-serif;
	--color-accent-black: #1e281e;
	--color-accent-blue: #0064c8;
	--color-accent-red: #e62d1e;
	--color-accent-pink: #ff3d9e;
	--color-yellow: #ffd200;
	--color-blue: #004081;
	--color-white: #fff;
	--border-radius: 15px;
}

html, body {
	color:var(--color-accent-black);
	font-family:var(--font-body);
	font-size: 1.25rem;
	font-weight: 500;

	scroll-behavior: smooth;
    margin: 0;
    line-height: 1.15;
}

.projects .item .side .links a, .home_container .navbar a, h1, h2, .title {
	font-family: var(--font-heading);
	color: inherit;
	font-style: normal;
	font-weight: 900;
	font-size: 1.375rem;
	line-height: 1.05;
}

img {
    border-style: none;
}

.root {
	position: relative;
}

.dots-red {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	overflow: hidden;

	background-image: url("./assets/dots-red.png");
}

.patches {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: hidden;

	background-image: url("./assets/patches-blue.png");
}

.diamonds {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: hidden;

	background-image: url("./assets/diamonds-blue.png");
}

.border {
	border: solid 4px var(--color-accent-black);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-x, 2px) var(--shadow-y, 4px) 0 2px var(--color-accent-black);
}

.color_blue {
	color: var(--color-blue);
}

#home {
	position: relative;
	overflow: hidden;
}

.home_container {
	border-radius: 80px 20px;
	position: relative;
	z-index: 2;

	margin: 7em auto 14em;
	padding: 1em;
	text-align: center;
	background-color: var(--color-yellow);
	max-width: 1200px;
}

.home_container h1 {
	display: inline-block;
	padding-inline: 32px;
	padding-block: 8px;
	border-radius: 2em;
	color: var(--color-accent-black);
	background-color: var(--color-white);
}

.wave-card {
	border-radius: 0 0 55px 15px;
	left: 0;
	bottom: -1px;
	height: 300px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: -1;
	will-change: left;
}

.wave-card svg {
	display: block;
	height: 120px;

}

.avatar {
    height: 256px;
    width: auto;
	border-radius: var(--border-radius);
}

.wave {
	bottom:calc(100% - 6px);
	z-index: 2;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%
}

.wave svg {
	fill: var(--color);
}

.wave_fade {
	padding-top: 60px;
}

.wave_fade::before {
	height: 200px;

	background-image: linear-gradient(180deg, var(--color) 0, rgba(0, 0, 0, 0) 100%);
	content: "";
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.project_container {
	position: relative;
	z-index: 1;
	padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.project_container .title {
	color: var(--text-color);
	text-align: center;
	font-size: 3.625rem;
	z-index: 1;
}

.projects .item {
	position: relative;
	padding: 1.2em;
	border-radius: var(--border-radius);
	margin-bottom: 2em;
	background-color: var(--color-yellow);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	column-gap: 1em;
	justify-content: space-between;
}

.projects .item .icon {
	width: 256px;
	max-width: 30%;
	height: max-content;
	flex-shrink: 0;
	z-index: 3;
}

.projects .item .icon img {
	background-color: var(--color-white);
	border-radius: var(--border-radius);
	width: 100%;
    height: 100%;
	object-fit: cover;
    image-rendering: crisp-edges;
}

.projects .item .side {
	margin: 0;
	margin-left: 1em;
	vertical-align: top; 
	display: inline-flex;
	flex-direction: column;
	min-height: 256px;

	z-index: 3;
}

.projects .item .side h2 {
	font-size: 1.8em;
	margin: 0.1em 0px;
	vertical-align: top;
}

.projects .item .side p {
	margin: 0.3em 0px;
	vertical-align: top;
}

.projects .item .side .links, .home_container .navbar {
	display: flex;
    flex-direction: row;
	gap: 0.5em;
	row-gap: 0.5em;
	flex-wrap: wrap;
}

.projects .item .side .links {
	margin-top: auto;
}

.navbar {
	margin-top: 1em;
	width: auto;
	justify-content: center;
}

.star-icon {
	width: 0.681em;
	fill: var(--color-yellow);
	padding-left: 10px;
	padding-right: 10px;
}

.projects .item .side .links a, .home_container .navbar a {
	position: relative;
	overflow: hidden;
	text-decoration: none;
	align-items: center;
	padding: 0.3em;
	display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
	height: 30px;
	transition: transform .1s ease-in-out;
	transition-property: transform, box-shadow;
	width: fit-content;
	border-radius: var(--border-radius);
	color: var(--color-white);
	background-color: var(--color-accent-pink);
}


.projects .item .side .links a p, .home_container .navbar a p {
	z-index: 2;
}

.projects .item .side .links a:hover, .home_container .navbar a:hover {
	--shadow-x: 4px;
	--shadow-y: 6px;
	transform: translate(-2px, -2px);
}

.projects .item .side .links a:active, .home_container .navbar a:active {
	--shadow-x: 1px;
	--shadow-y: 1px;
	transform: translate(2px, 4px);
}