body>main {
	padding-top:calc(var(--block-spacing-vertical) + 3.5rem)
}

body>nav {
	--nav-link-spacing-vertical: 1rem;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	z-index: 99;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	backdrop-filter: saturate(180%) blur(20px);
	background-color: rgba(16, 24, 30, 0.8);
	box-shadow: 0 1px 0 rgba(115, 130, 140, 0.2);
}

body>nav.container-fluid {
	padding-right: calc(var(--spacing) + var(--scrollbar-width,0px));
}

body>nav a {
	border-radius: 0;
}

body>nav svg {
	vertical-align: text-bottom;
}

body>nav ul:first-of-type {
	margin-left: calc(var(--spacing) * -1);
}

body>nav ul:first-of-type li {
	padding: 0;
}

body>nav ul:first-of-type li:first-of-type a {
	display: block;
	margin: 0;
	padding: 0;
	background: rgb(237, 240, 243);
	color: rgb(14, 20, 25);
}

body>nav ul:first-of-type li:first-of-type a img {
	display: block;
	width: 3.5rem;
	height: 3.5rem;
}

body>nav ul:first-of-type li:nth-of-type(2) {
	display: none;
	margin-left: calc(var(--spacing) * 1.5);
	color: rgb(237, 240, 243);
}

@media (min-width:992px) {
	body>nav ul:first-of-type li:nth-of-type(2) {
		display: inline;
	}
}

main > h1 {
	margin: 0 auto 0.5em;
	text-align: center;
}

main > img {
	margin: 0 auto 0.5em;
	border-radius: 0.25em;
	display: block;
}

.grid {
	text-align: center;
	width: 50%;
	margin: auto;
}

.title {
	text-align: center;
}

.projects article {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--block-spacing-horizontal);
}

.projects article .name {
	font-size: 1.5em;
}

.projects article img {
	height: 256px;
	width: 256px;
	max-width: 30%;
	margin-right: 1em;
	border-radius: 0.25rem;
	display: flex;
}

.projects article .container-fluid {
	margin-left: 0;
	margin-right: 0;
	display: inline-flex;
	flex-direction: column;
}